.container {
}
.wrapper {
  padding: 20px;
}

.title {
  font-weight: 300;
  text-align: center;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.topButton {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: 'none';
  background-color: black;
  color: white;
}

.topText {
  text-decoration: underline;
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.info {
  flex: 3;
}

.product {
  display: flex;
  justify-content: space-between;
}
.productDetail {
  flex: 2;
  display: flex;
}

.image {
  width: 200px;
}
.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.priceDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productAmountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.productAmount {
  font-size: 24px;
  margin: 5px;
}
.productPrice {
  font-weight: 200;
  font-size: 30px;
}

.hr {
  background-color: #eee;
  border: none;
  height: 1px;
}

.summary {
  flex: 1;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  /* max-height: 60vh; */
}

.summaryTitle {
  font-weight: 200;
}

.summaryItem {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  font-weight: '500';
  font-size: 24px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #000;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.invalid {
  color: red;
}
